body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

h1, h2, h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

nav {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

.tab-btn {
    color: #6D645E;
    border-bottom: 2px solid transparent;
}

.tab-btn.active {
    color: #C05B40;
    border-bottom-color: #C05B40;
}
